<%= content_for :active_profile, "class=active" %>
<% if notice %>
<div id="notice" class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<%= notice %>
</div>
<% end %>

<div class="page-header">
	<h1>In a NutShell</h1>
</div>
<div class="row">
	<div class="span4" >
		<address class="well">
			<strong><%= @profile.name %> <%= @profile.firstname %></strong>
			<br>
			<% if !@profile.location.blank? %>
			<strong>Location : </strong><%= @profile.location %>
			<br>
			<% end %>
			<% if !@profile.email.blank? %>
			<strong>Email : </strong><a href="mailto:#"><%= @profile.email %></a>
			<% end %>
		</address>
	</div>
	<div class="span4">
		
		<address class="well">
			<% if !@profile.git_link.blank? %>
			<strong>Github : </strong><a href="<%= @profile.git_link %>"><%= @profile.git_link %></a>
			<br>
			<% end %>
			<% if !@profile.fb_link.blank? %>
			<strong>Facebook : </strong><a href="<%= @profile.fb_link %>"><%= @profile.fb_link %></a>
			<br>
			<% end %>
			<% if !@profile.twitter_link.blank? %>
			<strong>Twitter : </strong><a href="<%= @profile.twitter_link %>"><%= @profile.twitter_link %></a>
			<br>
			<% end %>
			<% if !@profile.lkdIn_link.blank? %>
			<strong>Linkedin : </strong><a href="<%= @profile.lkdIn_link %>"><%= @profile.lkdIn_link %></a>
			<br>
			<% end %>
		</address>
	</div>
	<div class="span4">	
			<%= image_tag(@profile.picture.url, :width => 150, :class => "well") if @profile.picture.present? %>
	</div>

	<% if !@profile.workInformations.blank? %>
	<div class="span7">
	<% else %>
	<div class="span12">
	<% end %>
		<h3>Description:</h3>
		<div class="well">
			<%= simple_format(@profile.description) %>
		</div>
	</div>
	<% if !@profile.workInformations.blank? %>
	<div class="span5">
		<h3>Others :</h3>
		<div class="well">
			<%= simple_format(@profile.workInformations) %>
		</div>
	</div>
	<% end %>
	<div class="span12">
		<h3>More about me:</h3>
		<div class="well">
			<%= simple_format(@profile.hobby) %>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_profile_path(@profile), :class => "btn btn-danger"  unless !logged_in? %>