<%= content_for :active_profile, "class=active" %>
<% if notice %>
<div id="notice" class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<%= notice %>
</div>
<% end %>
<div class="row">
	<div class="page-header">
		<h1>In a NutShell</h1>
	</div>
	<div class="span4" >
		<address class="well">
			<strong><%= @profile.name %> <%= @profile.firstname %></strong>
			<br>
			<% if !@profile.location.empty? %>
			<strong>Location : </strong><%= @profile.location %>
			<br>
			<% end %>
			<% if !@profile.email.empty? %>
			<strong>Email : </strong><a href="mailto:#"><%= @profile.email %></a>
			<% end %>
		</address>
	</div>
	<div class="span4">
		<address class="well">
			<% if !@profile.git_link.empty? %>
			<strong>Github : </strong><a href="<%= @profile.git_link %>"><%= @profile.git_link %></a>
			<br>
			<% end %>
			<% if !@profile.fb_link.empty? %>
			<strong>Facebook : </strong><a href="<%= @profile.fb_link %>"><%= @profile.fb_link %></a>
			<br>
			<% end %>
			<% if !@profile.twitter_link.empty? %>
			<strong>Twitter : </strong><a href="<%= @profile.twitter_link %>"><%= @profile.twitter_link %></a>
			<br>
			<% end %>
			<% if !@profile.lkdIn_link.empty? %>
			<strong>Linkedin : </strong><a href="<%= @profile.lkdIn_link %>"><%= @profile.lkdIn_link %></a>
			<br>
			<% end %>
		</address>
	</div>
	<div class="span4">
		<%= image_tag(@profile.picture.url, :width => 100, :class => "well") if @profile.picture.present? %>
	</div>

	<div class="span12">
		<h3>Description:</h3>
		<div class="well">
			<%= simple_format(@profile.description) %>
		</div>
	</div>

	<div class="span12">
		<h3>More about me:</h3>
		<div class="well">
			<%= simple_format(@profile.hobby) %>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_profile_path(@profile)  unless !logged_in? %>