<%= content_for :active_logIn, "class=active" %>

<div class="page-header">
	<h1>Login Page</h1>
</div>

<%= form_tag session_path do %>
<p>
	<%= label_tag :login %>
	<%= text_field_tag :login %>
</p>
<p>
	<%= label_tag :password %>
	<%= password_field_tag :password %>
	<%= submit_tag "login" %>
</p>
<% end %>
