<%= content_for :active_projects, "class=active" %>

<div class="page-header">
	<h1>Projects</h1>
</div>

<section class="accordion-container">
	<% @projects.each do |project| %>
	<div>
		<% if params[:project_id].present? and params[:project_id].to_i == project.id %>
		<input id="ac-<%= project.id %>" name="accordion-1" type="checkbox", checked="checked" />
		<% else %>
		<input id="ac-<%= project.id %>" name="accordion-1" type="checkbox" />
		<% end %>
		<label for="ac-<%= project.id %>"> <%= project.title %> </label>
		<article>
			<span><em class="bullet"></em> Status : <%= project.status %></span>
			<% if !project.website.blank? %>
			<span><em class="bullet"></em> Website : <a href="<%= project.website %>"><%= project.website %></a></span>
			<% end %>
			<% if logged_in? %>
			<span><em class="bullet"></em> <%= link_to 'Edit', edit_project_path(project) %></span>
			<span><em class="bullet"></em> <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></span>
			<% end %>
			<%= simple_format(project.description) %>
			<h5>Technologies : <%= project.technologies %></h5>
			<% pictures = project.pictures %>
			<% if !pictures.blank? %>
			<div class="carousel-pictures">
				<div id="myCarousel<%= project.id%>" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<% pictures.each_index do |e_index| %>
						<% if e_index == 0 %>
						<div class="active item">
							<%= image_tag(pictures[e_index].url) if pictures[e_index].url.present? %>
						</div>
						<% else %>
						<div class="item">
							<%= image_tag(pictures[e_index].url) if pictures[e_index].url.present? %>
						</div>
						<% end %>
						<% end %>
					</div>
					<% if pictures.count > 1 %>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#myCarousel<%= project.id%>" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel<%= project.id%>" data-slide="next">&rsaquo;</a>
					<% end %>
				</div>
			</div>
			<% end %>
		</article>
	</div>
	<% end %>
</section>
<br />

<%= link_to 'New Project', new_project_path, :class => "btn" unless !logged_in? %>
