<%= content_for :active_projects, "class=active" %>
<% if notice %>
<div id="notice" class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">
		×
	</button>
	<%= notice %>
</div>
<% end %>
<article class="center">
	<div class="row-fluid">
		<div class="span5">
			<p>
				<b>Title:</b>
				<%= @project.title %>
			</p>

			<p>
				<b>Start date:</b>
				<%= @project.status %>
			</p>

			<p>
				<b>Website:</b>
				<%= @project.website %>
			</p>

			<p>
				<b>Description:</b>
				<%= @project.description %>
			</p>

			<p>
				<b>Technologies:</b>
				<%= @project.technologies %>
			</p>

		</div>
		<div class="span7">
			<table class="table table-bordered">
				<caption>
					<h3>Linked Picture :</h3>
				</caption>
				<tr>
					<th>Legend</th>
					<th>Picture</th>
				</tr>
				<% @project.pictures.each do |picture| %>
				<tr>
					<td><%= picture.legend %></td>
					<td><%= image_tag(picture.url, :width => 50) if picture.url.present? %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>

	<%= link_to 'Edit', edit_project_path(@project), :class=>"btn btn-danger"  unless !logged_in? %>
	<%= link_to 'Back', projects_path, :class=>"btn" %>
</article>
