<%= content_for :active_experiences, "class=active" %>

<div class="page-header">
	<h1>Experiences</h1>
</div>

<section class="accordion-container">
	<% @experiences.each do |experience| %>
	<div>
		<input id="ac-<%= experience.id %>" name="accordion-1" type="checkbox" />
		<label for="ac-<%= experience.id %>"> <%= experience.compagny %> : <%= experience.position %> </label>
		<article>

			<span><em class="bullet"></em> Start : <%= experience.start_date %></span>
			<span><em class="bullet"></em> End : <%= experience.end_date %></span>
			<% if experience.website.blank? %>
			<span><em class="bullet"></em> Website : <a href="<%= experience.website %>"><%= experience.website %></a></span>
			<% end %>

			<% if logged_in? %>
			<span><em class="bullet"></em> <%= link_to 'Edit', edit_experience_path(experience) %></span>
			<span><em class="bullet"></em> <%= link_to 'Destroy', experience, confirm: 'Are you sure?', method: :delete %></span>
			<% end %>
			<p>
				<%= experience.description %>
			</p>

			<h5> Compétences : <%= experience.keywords %> </h5>
			<% pictures = experience.pictures %>
			<% if !pictures.blank? %>
			<div class="carousel-pictures">
				<div id="myCarousel<%= experience.id%>" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<% pictures.each_index do |e_index| %>
						<% if e_index == 0 %>
						<div class="active item">
							<%= image_tag(pictures[e_index].url) if pictures[e_index].url.present? %>
						</div>
						<% else %>
						<div class="item">
							<%= image_tag(pictures[e_index].url) if pictures[e_index].url.present? %>
						</div>
						<% end %>
						<% end %>
					</div>
					<% if pictures.count > 1 %>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#myCarousel<%= experience.id%>" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel<%= experience.id%>" data-slide="next">&rsaquo;</a>
					<% end %>
				</div>
			</div>
			<% end %>
		</article>
	</div>
	<% end %>
</section>
<br />

<%= link_to 'New Experience', new_experience_path, :class => "btn"  unless !logged_in? %>
