<%= content_for :active_pictures, "class=active" %>
<% if notice %>
<div id="notice" class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<%= notice %>
</div>
<% end %>

<p>
  <b>Legend:</b>
  <%= @picture.legend %>
</p>

<p>
  <b>Url:</b>
  <%= @picture.url %>
</p>

<p>
  <%= image_tag(@picture.url) if @picture.url.present? %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture)  unless !logged_in? %> |
<%= link_to 'Back', pictures_path %>
