<%= content_for :active_educations, "class=active" %>

<div class="page-header">
	<h1>Educations</h1>
</div>

<section class="accordion-container">
	<% @educations.each do |education| %>
	<div>
		<input id="ac-<%= education.id %>" name="accordion-1" type="checkbox" />
		<label for="ac-<%= education.id %>"> <%= education.school %> </label>
		<article>

			<span><em class="bullet"></em> Start : <%= education.start_date %></span>
			<span><em class="bullet"></em> End : <%= education.end_date %></span>
			<% if !education.website.blank? %>
			<span><em class="bullet"></em> Website : <a href="<%= education.website %>"><%= education.website %></a></span>
			<% end %>

			<% if logged_in? %>
			<span><em class="bullet"></em> <%= link_to 'Edit', edit_education_path(education) %></span>
			<span><em class="bullet"></em> <%= link_to 'Destroy', education, confirm: 'Are you sure?', method: :delete %></span>
			<% end %>
			<p>
				<%= education.description %>
			</p>

			<h5> Compétences : <%= education.keywords %> </h5>
			<% pictures = education.pictures %>
			<% if !pictures.blank? %>
			<div class="carousel-pictures">
				<div id="myCarousel<%= education.id%>" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<% pictures.each_index do |e_index| %>
						<% if e_index == 0 %>
						<div class="active item">
							<%= image_tag(pictures[e_index].url) if pictures[e_index].url.present? %>
						</div>
						<% else %>
						<div class="item">
							<%= image_tag(pictures[e_index].url) if pictures[e_index].url.present? %>
						</div>
						<% end %>
						<% end %>
					</div>
					<% if pictures.count > 1 %>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#myCarousel<%= education.id%>" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel<%= education.id%>" data-slide="next">&rsaquo;</a>
					<% end %>
				</div>
			</div>
			<% end %>
		</article>
	</div>
	<% end %>
</section>
<br />

<%= link_to 'New Education', new_education_path, :class => "btn" unless !logged_in? %>
